<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="ml.css">
  <title>Daibatic Predictor</title>
</head>

<body>

  <nav class="navbar navbar-dark bg-primary fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> Diabitic prediction</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>

        </div>
      </div>
    </div>
  </nav>


  <div class="container dark-red my-container mt-5">
    <!--this should br menubar-->
    <div class="row mt-5">
      <div class="col-md-6">

      </div>


      <div class="row mt-5">
        <div class="col-md-6">
          kindly fill this form to know your prediction:
        </div>

      </div>
      <form action="/" method="POST" class="row mt-5">
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Age</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="age1" name='name'>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-2 col-form-label" name='cholerstrol'> do you have High cholerstrol?
          </label>
          <div class="col-sm-10">
            <select class="form-select" aria-label="Default select example" name='chol'>
              <option value="1">Yes</option>
              <option value="0">No</option>

            </select>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-2 col-form-label">BMI</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="age" name="BMI">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Mental health score (between 1-5, where 5 means worse meantal health)</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="age" name="Mental">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-2 col-form-label">genatic health score (between 1-3, where 3 means your have Diabitic problem from 3 genration in your family)</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="age" name="physical">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-2 col-form-label" name='cholerstrol'> are you a smoker?
          </label>
          <div class="col-sm-10">
            <select class="form-select" aria-label="Default select example" name='smoke'>
              <option value="1">Yes</option>
              <option value="0">No</option>

            </select>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-2 col-form-label" name='cholerstrol'> do you have high BP problem?
          </label>
          <div class="col-sm-10">
            <select class="form-select" aria-label="Default select example" name='BP'>
              <option value="1">Yes</option>
              <option value="0">No</option>

            </select>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-2 col-form-label" name='cholerstrol'>Are you physically active? </label>
          <div class="col-sm-10">
            <select class="form-select" aria-label="Default select example" name='phyactive'>
              <option value="1">Yes</option>
              <option value="0">No</option>

            </select>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-2 col-form-label" name='cholerstrol'> do you consume alchol more frequently? </label>
          <div class="col-sm-10">
            <select class="form-select" aria-label="Default select example" name='alchol'>
              <option value="1">Yes</option>
              <option value="0">No</option>

            </select>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-2 col-form-label" name='cholerstrol'> have you difficulty in walking? </label>
          <div class="col-sm-10">
            <select class="form-select" aria-label="Default select example" name='walk'>
              <option value="1">Yes</option>
              <option value="0">No</option>

            </select>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-2 col-form-label" name='cholerstrol'> Gender </label>
          <div class="col-sm-10">
            <select class="form-select" aria-label="Default select example" name='gen'>
              <option value="1">Male</option>
              <option value="0">Female</option>

            </select>
          </div>
        </div>


        <div class="col-md-6">
          <input class="btn btn-primary" type="submit" value="Submit">
        </div>
      </form>

      





      
    </div>
    <div class="row mt-5">
      <div class="col-md-6">
        here goes our prediction:
        {{predict}}
      </div>
    </div>

  </div>
  


  <div class="card text-white bg-primary mb-3" style="max-width: 100%;">
    <div class="card-header"></div>
    <div class="card-body">
      <h5 class="card-title">develop by ved Prakash<a href="https://www.cmi.ac.in/~vedp/">know more about me</a></h5>
      <p class="card-text"></p>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>
